.LoginWrapper {
    display: flex;
    justify-content: center;
}

.LoginClass {
    width: 30vw;
    margin-top: 7%;
}

.instaLogo {
    display: flex;
    justify-content: center;
}

.stext {
    color: grey;
}

.slider {
    margin-top: auto;
    width: 210px;
    height: 400px;
}